{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %}
{% load crispy_forms_tags %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% load static %}


{% block content %}
<div class="container-fluid bg-3 text-center">
  <h1 class="margin text-center">Nye Lubricants Middle Production Assets</h1>
</div>


<div class="container-fluid bg-3 text-center mt-5 p-4 border border-info">
  <h3 class="margin m-3">Kettles</h3>
  <div class="row mt-5">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
            <h4>KT-09</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a role="button" class="btn btn-outline-info btn-lg" href="{% url 'parent-AssetList' 'KT09' %}">KT09 Data</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h4>KT-14</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a role="button" class="btn btn-outline-info btn-lg" href="{% url 'parent-AssetList' 'KT14' %}">KT14 Data</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h4>KT-15</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <a role="button" class="btn btn-outline-info btn-lg"  href="{% url 'parent-AssetList' 'KT15' %}">KT15 Data</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
            <h4>KT-19</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a role="button" class="btn btn-outline-info btn-lg" href="{% url 'parent-AssetList' 'KT19' %}">KT19 Data</a>
        </div>
      </div>
    </div>
</div>
  <div class="row mt-5">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
            <h4>KT-22</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a role="button" class="btn btn-outline-info btn-lg" href="{% url 'parent-AssetList' 'KT22' %}">KT22 Data</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-3 mt-5 p-4 text-center mt-4 border border-info">
  <h3 class="margin m-3">Gaulins</h3>
  <div class="row mt-5">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
            <h4>GA-05</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a role="button" class="btn btn-outline-info btn-lg" href="{% url 'parent-AssetList' 'GA05' %}">GA05 Data</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
            <h4>GA29</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a role="button" class="btn btn-outline-info btn-lg" href="{% url 'parent-AssetList' 'GA29' %}">GA29 Data</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-3 mt-5 p-4 text-center border border-info">
  <h3 class="margin m-3">Flow Transmitters</h3>
  <div class="row mt-5">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
            <h4>FT-01</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a role="button" class="btn btn-outline-info btn-lg" href="{% url 'parent-AssetList' 'FT01' %}">FT01 Data</a>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}
