body {
  background-color: #121212;
  margin-top: 5rem;

}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;

}
.margin h3 {
  font-size: 50px;
}
.navbar{
  box-shadow: 0px 8px 8px -11px rgba(255,255,255,.9);
  z-index: 10;
  color: #ffffff;
}

.bg-steel {
  background-color: rgba(40,40,40,0.9); /* Black background with opacity */
}


.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  font-family: Poppins;

}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background-color: rgba(80,80,80,0.5);
  box-shadow: 0px 8px 8px -11px rgba(91, 192, 222, 1);
  padding: 10px 20px;
  border-radius: 3px;
  margin-bottom: 15px;
}

.content-section h3 {
  color: #ffffff;
  padding-top: 20px;
  padding-left: 20px;
}



.content-section p {
  color: #cbd5db;
  padding-left: 20px;
  padding-bottom: 20px;
}


.article-title {
  color: #ffffff;
}

a.article-title:hover {
  color: #cbd5db;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }


 .nav-item:hover {
     background-color:  rgba(91, 192, 222, 1);
     border-radius: 2px;
 }


.content-section2 {
   background-color: rgba(80,80,80,0.5);
   box-shadow: 0px 8px 8px -11px 	rgba(91, 192, 222, 1);
   border-radius: 3px;
   margin-bottom: 3%;
}

.content-section2 h4 {
  color: #ffffff;

}

.content-section2 p {
  color: #cbd5db;
  font-size: 1.1em;

}

.content-sectionDirectory {
  background-color: rgba(80,80,80,0.5);
  box-shadow: 0px 8px 8px -11px rgba(91, 192, 222, 1);
  border-radius: 3px;
  margin-bottom: 3%;
}


.content-sectionDirectory h3 {
  color: #ffffff;
  padding: 15px 0px 5px 15px;

}

.content-sectionDirectory p {
  color: #cbd5db;
  font-size: 1.1em;
  padding: 0px 0px 5px 15px;
}

.content-section3 {
  background-color: rgba(80,80,80,0.5);
  box-shadow: 0px 8px 8px -11px rgba(91, 192, 222, 1);
  border-radius: 3px;
  margin-bottom: 3%;
}
