{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
</head>
<body>

    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top p-3 ">
        <div class="container">
          <a class="navbar-brand mr-4" style="font-size: 1.4em; font-family: Poppins;">Nye Lubricants Historical Logger</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
          </div>

            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="site-nav" style="border-style: solid; border-color: rgba(80,80,80, 0.0); border-width: 1px;">
      <nav class="navbar navbar-expand-md navbar-dark justify-content-center p-2 m-3"  style="background-color: rgba(80,80,80,0.5); box-shadow: 0px 8px 8px -11px rgba(98, 0, 238, .8)">
        <div class="container" >
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle2" aria-controls="navbarToggle" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse " id="navbarToggle2">
              <div class="navbar-nav mr-auto">
              </div>
              <ul class="navbar-nav" style="font-family: Poppins; color: #ffffff;">
                <li class="nav-item  px-5" >
                    <a class="nav-link" href="{% url 'home-detailsBP' %}" style="color: #ffffff;">Back Production</a>
                  </li>
                <li class="nav-item px-5">
                  <a class="nav-link" href="{% url 'home-details' %}" style="color: #ffffff;">Middle Production</a>
                </li>
                <li class="nav-item px-5">
                  <a class="nav-link" href="{% url 'home-detailsFP' %}" style="color: #ffffff;">Front Production</a>
                </li>
                <li class="nav-item px-5">
                  <a class="nav-link" href="{% url 'home-detailsUniflor' %}" style="color: #ffffff;">Uniflor</a>
                </li>
                <li class="nav-item px-5">
                  <a class="nav-link" href="{% url 'home-detailsDamping' %}" style="color: #ffffff;">Damping</a>
                </li>
              </ul>

      </div>
    </nav>
  </div>
</div>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
    $(document).ready(function(){
      {% block jquery %}{% endblock %}
    })
    </script>
</body>
</html>
