{% extends "layouts/base.html" %}

{% block title %} Temperatures {% endblock %}
{% load crispy_forms_tags %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<script>
  {% block jquery %}

  var endpoint = "{% url 'chart-DateRange' db result.0.1 q1 q2 %}"
  var defaultData = []
  var labels = []
  var maxDataValue

  $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data){
          labels = data.x
          defaultData = data.y
          labels2 = data.x2
          defaultData2 = data.y2
          setChart()
          setChart2()
          },
          error: function(error_data){
            console.log("error")
            console.log("error_data")
          }
      })

  function setChart(){
    var ctx = document.getElementById('myChart2');
    const max = Math.max.apply(null, Object.values(defaultData));
    var buffer = 10;
    var maxValuePlusBuffer = buffer + max;

    var myChart2 = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: '{{result.0.1}}',
                data: defaultData,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
              }]
       },
       options: {
            title: {
              display: true,
              text: '{{result.0.1}}',
              fontColor: 'white',

            },

           scales: {
              xAxes: [{
                display: true,
                gridLines: {
                  color: '#A0A0A0',
                },
                ticks: {
                  fontColor: 'white',
              },
              }],
               yAxes: [{
                display: true,
                gridLines: {
                  color: '#A0A0A0',
                },
                 ticks: {
                   beginAtZero: true,
                   max: maxValuePlusBuffer,
                   fontColor: 'white',
               },
             }]
           }
       }
    });
  }

  function setChart2(){
    var ctx = document.getElementById('myChart5');
    const max = Math.max.apply(null, Object.values(defaultData));
    var buffer = 10;
    var maxValuePlusBuffer = buffer + max;

    var myChart5 = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels2,
            datasets: [{
                label: '{{result.0.1}}',
                data: defaultData2,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
              }]
       },
       options: {
            title: {
              display: true,
              text: '{{result.0.1}}',
              fontColor: 'white',

            },
            legend: {
              display: false
            },

           scales: {
              xAxes: [{
                display: true,
                gridLines: {
                  color: '#A0A0A0',
                },
                ticks: {
                  fontColor: 'white',
              },
              }],
               yAxes: [{
                display: true,
                gridLines: {
                  color: '#A0A0A0',
                },
                 ticks: {
                   beginAtZero: true,
                   max: maxValuePlusBuffer,
                   fontColor: 'white',
               },
             }]
           }
       }
    });
    }
  {% endblock jquery %}

</script>
  <div class="row">
    <div class="col-md-12">
      <div class="content-section">
        <h3>Data for: {{result.1.1}}</h3>
        {% if result %}
        <p>Found {{ total|length }} data point{{ result|pluralize }} between {{q1}} and {{q2}} for child asset {{result.1.1}}.</p>
        {% else %}
        <p>No products matched your search criteria.</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" style="background-color: white;">
        <thead>
          <tr>
            <th scope="col">#
            </th>
            <th scope="col">Transmitter Name
            </th>
            <th scope="col">Value
            </th>
            <th scope="col">Time Stamp
            </th>
          </tr>
        </thead>
        <tbody>
            {% for result in result %}
          <tr>
            <td scope="row"><small class="text-muted">{{ result.0 }}</small></td>
            <td><a>{{ result.1 }}</a></td>
            <td>{{ result.3 }}</td>
            <td>{{ result.4 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    <div class="pagination">
        {% if result.has_previous %}
             <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
             <a class="btn btn-outline-info mb-4" href="?page={{ result.previous_page_number }}">Previous</a>
           {% endif %}
           {% for num in result.paginator.page_range %}
             {% if result.number == num %}
               <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
             {% elif num > result.number|add:'-3' and num < result.number|add:'3' %}
               <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
             {% endif %}
           {% endfor %}
           {% if result.has_next %}
             <a class="btn btn-outline-info mb-4" href="?page={{ result.next_page_number }}">Next</a>
             <a class="btn btn-outline-info mb-4" href="?page={{ result.paginator.num_pages }}">Last</a>
           {% endif %}
          </div>
      </div>
       <div class="row">
         <div class="content-section2">
         <div class="col-md-12 m-2">
           <form name="form" action="{% url 'data-RangeChild' db result.0.1 %}" method="GET">
             <table style="width:30%">
               <tr>
                 <td><input type="text"  class="datepicker" name="q1"> </td>
                 <td style="padding: 10px; color: #cbd5db;"> Between </td>
                 <td><input type="text"  class="datepicker" name="q2"></td>
                 <br>
                 <td><input type="submit" value="Search"></td>
               </tr>
             </table>
           </form>
         </div>
      <div class="col-md-12 m-2">
           <div class=row">
           <table style="width:40%; color: #cbd5db;">
             <tr>
               <td>Year-Month-Date <br>Example: 2021-10-01</td>
             </tr>
           </table>
           </div>
              <table style="width:40%; color: #cbd5db;">
             <tr>
               <td>WARNING! Searching long data periods may cause delayed graph loading!</td>
              </tr>
              </table>
      </div>
       </div>
       </div>
      <div class="row">
        <div class="col-md-12 m-5">
        </div>

        <div class="col-md-12 p-5">
          <canvas id="myChart2" width="200" height="100" style="background-color: rgba(80,80,80,0.5); padding: 10px;"></canvas>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 m-5">
        </div>
        <div class="col-md-12 p-5">
          <canvas id="myChart5" width="200" height="100" style="background-color: rgba(80,80,80,0.5); padding: 10px;"></canvas>
        </div>
      </div>

{% endblock content %}
