{% extends "layouts/base.html" %}

{% block title %} Temperatures {% endblock %}
{% load crispy_forms_tags %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="row">
  <div class="col-md-12">
    <div class="content-section">
      <h3>Todays Data for: {{db}}</h3>
      <p>This page is displaying todays data for Parent Asset: {{db}}. All of {{db}}'s child assets are listed in the directory on the right hand side of the screen.
      please use the search bar below with the correct date formart to search for all available data on the requested date.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th scope="col">id
          </th>
          <th scope="col">Transmitter Name
          </th>
          <th scope="col">Value
          </th>
          <th scope="col">Time Stamp
          </th>
        </tr>
      </thead>
      <tbody>
          {% for result in result %}
        <tr>
          <td scope="row"><small class="text-muted">{{ result.0 }}</small></td>
          <td><a href="{% url 'childAsset-data' db result.1  %}">{{ result.1 }}</a></td>
          <td>{{ result.3 }}</td>
          <td>{{ result.4 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination">
     {% if result.has_previous %}
       <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
       <a class="btn btn-outline-info mb-4" href="?page={{ result.previous_page_number }}">Previous</a>
     {% endif %}

     {% for num in result.paginator.page_range %}
       {% if result.number == num %}
         <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
       {% elif num > result.number|add:'-3' and num < result.number|add:'3' %}
         <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
       {% endif %}
     {% endfor %}

     {% if result.has_next %}
       <a class="btn btn-outline-info mb-4" href="?page={{ result.next_page_number }}">Next</a>
       <a class="btn btn-outline-info mb-4" href="?page={{ result.paginator.num_pages }}">Last</a>
     {% endif %}
     </div>

     <div class="row">
       <div class="col-md-12 m-2">
         <form name="form" action="{% url 'data-RangeParent' db %}" method="GET">
           <table style="width:30%">
             <tr>
               <td><input type="text"  class="datepicker" name="q1"> </td>
               <td style="width:5%"> Between </td>
               <td><input type="text"  class="datepicker" name="q2"></td>
               <br>
               <td><input type="submit" value="Search"></td>
             </tr>
           </table>
         </form>
       </div>
       <div class="col-md-12 m-2">
         <table style="width:30%">
           <tr>
             <td>Year-Month-Date <br>Example: 2021-10-01</td>
           </tr>
         </table>
       </div>
     </div>
  </div>
  <div class="col-md-4">
      <div class="content-section">
        <h3>Directory</h3>
        <p>Tags Associated with {{db}}</p>
        <p class='text-muted'>
          <ul class="list-group">
            {% for i in result %}
            {% ifchanged i.1 %}
            <li class="list-group-item list-group-item-light">
              <a href="{% url 'childAsset-data' db i.1  %}">{{i.1}}</a>
            </li>
            {% else %}
            {% endifchanged %}
            {% endfor %}
          </ul>
        </p>
      </div>
  </div>

{% endblock content %}
